<div class="margin-body">
  <h1 class="text-center">Login</h1>

  <form class="form-container" (ngSubmit)="login()">

    <mat-form-field>
      <input matInput type="text" placeholder="Email" name="email"
       [errorStateMatcher]="matcher"
      [formControl]="authUser.emailFormControl">
 <!--invalid email error-->
      <mat-error *ngIf="authUser.emailFormControl.hasError('email') &&
       !authUser.emailFormControl.hasError('required')">Please enter an
       valid email address.</mat-error>
 <!--required error-->
      <mat-error *ngIf="authUser.emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>

    </mat-form-field>
    <!--password input-->
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password"
      [formControl]="authUser.passwordFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
 <!--password error-->
    <mat-error *ngIf="authUser.passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>

    <button mat-raised-button color="warn">Login</button>
  </form>
</div>
