@import "~@angular/material/theming";

/* required to generate  your own theme */

@include mat-core();

$md-icy: (
    50 : #e2fafc,
    100 : #b6f3f9,
    200 : #85ebf5,
    300 : #54e3f0,
    400 : #2fdded,
    500 : #0ad7ea,
    600 : #09d3e7,
    700 : #07cde4,
    800 : #05c7e1,
    900 : #03bedb,
    A100 : #ffffff,
    A200 : #cff8ff,
    A400 : #9cf0ff,
    A700 : #83ecff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-sunny: (
    50 : #ffede0,
    100 : #ffd2b3,
    200 : #ffb580,
    300 : #ff974d,
    400 : #ff8026,
    500 : #ff6a00,
    600 : #ff6200,
    700 : #ff5700,
    800 : #ff4d00,
    900 : #ff3c00,
    A100 : #ffffff,
    A200 : #fff4f2,
    A400 : #ffcabf,
    A700 : #ffb5a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warning: (
    50 : #fef4e1,
    100 : #fce3b3,
    200 : #fbd181,
    300 : #f9bf4e,
    400 : #f7b128,
    500 : #f6a302,
    600 : #f59b02,
    700 : #f39101,
    800 : #f28801,
    900 : #ef7701,
    A100 : #ffffff,
    A200 : #ffefe3,
    A400 : #ffd3b0,
    A700 : #ffc496,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-lite: (
    50 : #fcfeff,
    100 : #f6fefe,
    200 : #f1fdfe,
    300 : #ebfcfd,
    400 : #e6fbfc,
    500 : #e2fafc,
    600 : #dff9fc,
    700 : #daf9fb,
    800 : #d6f8fb,
    900 : #cff6fa,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




$my-app-primary: mat-palette($md-icy);


$my-app-warn: mat-palette($md-warning);

$my-app-lite: mat-palette($md-lite);

$my-theme: mat-dark-theme($my-app-primary, $my-app-warn, $my-app-lite);

@include angular-material-theme($my-theme);
