<div class="margin-body">
  <h1 class="text-center">
    My Github Repos

  </h1>
  <div class="text-center">
      <input type="text" placeholder="Search repos..." [(ngModel)]="searchText" class="search text-center">
  </div>
  <div>
    <mat-card class="myCard" *ngFor="let repo of repos | search: searchText">
      <mat-card-title>
        {{ repo.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ repo.owner.login }}
      </mat-card-subtitle>
      <mat-card-content>

        <p>{{ showDescription(repo.description) }}</p>

        <p [ngClass]="repo.language">{{ repo.language }}</p>

        <p [ngClass]="checkDate(repo.created_at) ? 'newer-date' : ''">Created: {{ repo.created_at | date: "longDate" }}</p>

      </mat-card-content>
      <mat-card-actions>

        <a mat-button href="{{repo.html_url}}" target=_blank color="primary">
          View
        </a>
        <a mat-button href="{{ repo.forks_url }}" color="primary">
         Fork
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
